@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.woff') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Dohyeon';
  src: url('../fonts/DoHyeon-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Dohyeon';
  src: url('../fonts/DoHyeon-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.woff') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Notosans';
  src: url('../fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
}
body {
  font-family: 'Pretendard';
}